.advantage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
}

.advantage__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}

/* .advantage__item {

} */

.advantage__img {
  max-width: 380px;
  position: relative;
  cursor: pointer;
}

.advantage__img > img {
  transition-duration: .2s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.advantage__img:hover > img {
  transform: scale(110%);
}

.advantage__subtitle {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
