.footer {
  padding: 50px 0 0 0;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);;
}

.footer__adress {
  display: flex;
  margin-bottom: 150px;
}

.footer__list {
  width: 100%;
  height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__item_street {
  width: 480px;
  display: flex;
  align-items: center;
}

.footer__item_street > svg {
  color: var(--color-light-purple);
  margin-right: 30px;
}

.footer__item_street > p {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
}

.footer__item_digit {
  width: 340px;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
}

.footer__item_digit > span {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__item_digit > span > svg {
  color: var(--color-light-purple);
  margin-right: 30px;
}

.footer__item_social {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.footer__item_social > .footer__link {
  display: block;
  height: 50px;
  width: 50px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  border-radius: 50%;
  color: var(--color-white);
  transition-duration: .2s;
  transition-property: color, outline-color;
  transition-timing-function: ease-out;
}

.footer__item_social > .footer__link:hover {
  color: var(--color-purple-second);
}

.footer__item_social > .footer__link:focus {
  outline-color: var(--color-purple-second);
}

.footer__item_social > .footer__link:active {
  color: var(--color-light-purple);
}

.author {
  width: 100%;
  height: 100%;
}

.author__list {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 12px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.author__item_flex {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer__paragraph:not(:last-child) {
  margin-bottom: 6px;
}

