.form {
  width: 100%;
  height: 100%;
  font-size: 28px;
  padding: 50px 0 50px 0;
}

.form__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__item {
  padding: 10px;
}

.form__item > label {
  font-size: 20px;
  margin-right: 20px;
}

/* .form__legend {
}

.input__radio {
}

.form__item_inner {
}

.form__legend_inner {
}

.input__checkbox {
}

.input__number {
}

.input__text {
}

.input__phone {
}

.input__email {
}

.form__btn {
}
 */