* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

label {
  cursor: pointer;
}

body {
  background-color: #1B1A1B;
  color: #FFFFFF;
}

.wrapper {
  width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

blockquote p {
  text-transform: uppercase;
}