* {
  padding: 0;
  margin: 0;
  /* border: 0; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

label {
  cursor: pointer;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.container {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}