:root {
  --color-white: #fff;
  --color-black: #1B1A1B;
  --color-black-second: #1C1A1A;
  --color-purple: #440F51;
  --color-purple-second: #6C0287;
  --color-light-purple: #CD06FF;
  --active-color: #640AA3;
  --active-book: #840AA3;
  --active-color-two: #EADEED;
}